<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.loopring.looprwallet.core">

    <application
        android:name=".application.CoreLooprWalletApp"
        android:theme="@style/AppTheme.Dark">

        <activity android:name=".activities.CoreTestActivity" />

    </application>

</manifest>
