<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.loopring.looprwallet.createtransfer">

    <application
        android:name="org.loopring.looprwallet.core.application.CoreLooprWalletApp"
        android:theme="@style/AppTheme.Dark">

        <activity
            android:name="org.loopring.looprwallet.createtransfer.activities.CreateTransferActivity"
            android:label="@string/transfer"
            android:screenOrientation="portrait" />

    </application>

</manifest>
