<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.loopring.looprwallet.barcode">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="org.loopring.looprwallet.core.application.CoreLooprWalletApp"
        android:theme="@style/AppTheme.Dark">

        <activity android:name=".activities.QRCodeCaptureActivity" />

    </application>

</manifest>